variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build



build:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
        - make release
        - make test
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs


