variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - tests



build-rel:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
        - find
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build


build-dbg:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
        - find
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build



tests-json:
    stage: tests
    script:
        - find
        - ./build/rel/BFutils_tests json
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs


