variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build



build:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
        - make release
    only:
        - master
    tags:
        - rpi-biurko

