variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - tests
    - deploy
    - updateRepo



build-rel-armhf:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs
            - build
            - inc



build-dbg-armhf:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs
            - build
            - inc



tests-json-armhf:
    stage: tests
    script:
        - ./build/rel/BFutils_tests json
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs



tests-stream-armhf:
    stage: tests
    script:
        - ./build/rel/BFutils_tests stream
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs



tests-logging-armhf:
    stage: tests
    script:
        - ./build/rel/BFutils_tests logging
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs



tests-udp-armhf:
    stage: tests
    script:
        - ./build/rel/BFutils_tests udp
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs



tests-event-armhf:
    stage: tests
    script:
        - ./build/rel/BFutils_tests event
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - Logs



deploy-armhf:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - rpi-biurko
    cache:
        key: armhf
        paths:
            - deb




build-rel-amd64:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs
            - build
            - inc



build-dbg-amd64:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs
            - build
            - inc



tests-json-amd64:
    stage: tests
    script:
        - ./build/rel/BFutils_tests json
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs



tests-stream-amd64:
    stage: tests
    script:
        - ./build/rel/BFutils_tests stream
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs



tests-logging-amd64:
    stage: tests
    script:
        - ./build/rel/BFutils_tests logging
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs



tests-udp-amd64:
    stage: tests
    script:
        - ./build/rel/BFutils_tests udp
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs



tests-event-amd64:
    stage: tests
    script:
        - ./build/rel/BFutils_tests event
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - Logs



deploy-amd64:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - amd64
    cache:
        key: amd64
        paths:
            - deb



