variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - tests
    - deploy
    - updateRepo



rel-armhf:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



dbg-armhf:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



json-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests json
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



stream-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests stream
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



logging-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests logging
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



udp-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests udp
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



event-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests event
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs


serial-JSON-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests serialj
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs

serial-BIN-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/bitforgeutils_tests serialb
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs


armhf:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - testpi0-gcc8.3
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - deb




rel-amd64:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



dbg-amd64:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



json-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests json
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



stream-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests stream
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



logging-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests logging
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



udp-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests udp
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



event-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests event
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs

serial-JSON-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests serialj
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs

serial-BIN-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/bitforgeutils_tests serialb
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



amd64:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - deb




updateRepo:
    stage: updateRepo
    script:
        - ssh debian@147.135.211.223 "cd /var/www/html/repo/$CI_COMMIT_BRANCH && dpkg-scanpackages --multiversion . /dev/null > Packages"
        - ./increment_version.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - amd64
