variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - tests



build:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
        - make release
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build



tests:
    stage: tests
    script:
        - ./build/rel/BFutils_tests
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs


