variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - tests
    - deploy
    - updateRepo



build-rel-armhf:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



build-dbg-armhf:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



tests-json-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/BFutils_tests json
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-stream-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/BFutils_tests stream
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-logging-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/BFutils_tests logging
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-udp-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/BFutils_tests udp
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-event-armhf:
    stage: tests
    script:
        - ./build/armhf/rel/BFutils_tests event
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



deploy-armhf:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - testpi0
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - deb




build-rel-amd64:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



build-dbg-amd64:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build
            - inc



tests-json-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/BFutils_tests json
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-stream-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/BFutils_tests stream
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-logging-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/BFutils_tests logging
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-udp-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/BFutils_tests udp
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-event-amd64:
    stage: tests
    script:
        - ./build/amd64/rel/BFutils_tests event
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



deploy-amd64:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - amd64
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - deb




updateRepo:
    stage: updateRepo
    script:
        - ssh debian@147.135.211.223 "cd /var/www/html/repo/$CI_COMMIT_BRANCH && dpkg-scanpackages --multiversion . /dev/null > Packages"
        - ./increment_version.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - amd64
