variables:
    GIT_SUBMODULE_STRATEGY: recursive

stages:
    - build
    - tests
    - deploy



build-rel:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make release
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build


build-dbg:
    stage: build
    before_script:
        - ./prebuild.sh
    script:
        - make debug
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs
            - build



tests-json:
    stage: tests
    script:
        - ./build/rel/BFutils_tests json
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-stream:
    stage: tests
    script:
        - ./build/rel/BFutils_tests stream
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-logging:
    stage: tests
    script:
        - ./build/rel/BFutils_tests logging
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-udp:
    stage: tests
    script:
        - ./build/rel/BFutils_tests udp
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



tests-event:
    stage: tests
    script:
        - ./build/rel/BFutils_tests event
    only:
        - master
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs



deploy:
    stage: deploy
    script:
        - ./package.sh $CI_COMMIT_BRANCH
    only:
        - stable
        - test
    tags:
        - rpi-biurko
    artifacts:
        name: OBJ_$COMMIT_TIME
        expire_in: 1 week
        paths:
            - Logs


